In [23]:
import pandas as pd
import networkx as nx

In [24]:
male = pd.read_csv("data/male.gz")

In [25]:
male

        From Node ID To Node Id  Weight
0                 m1         m9       2
1                 m1        m32       8
2                 m1        m45      38
3                 m1        m59       1
4                 m1        m64     146
...              ...        ...     ...
4158051       m18524     m15759       1
4158052       m18524     m15789       4
4158053       m18524     m15803       1
4158054       m18524     m15806       1
4158055       m18524     m18136       1

[4158056 rows x 3 columns]

In [26]:
def create_nth_graph(node, n, df):
    """
    for the specified node, create a graph up to its nth neighbour expansion.
    """
    total_nodes = {node}
    current_level = {node}
    i = 0

    while i < n: 
        neighbours = set(df[df["From Node ID"].isin(current_level)]["To Node Id"])
        total_nodes = neighbours.union(total_nodes)
        current_level = neighbours
        i += 1

        if not current_level:
            break
    return df[df["From Node ID"].isin(total_nodes)]

In [ ]:
create_nth_graph("m1", 5, male)

        From Node ID To Node Id  Weight
0                 m1         m9       2
1                 m1        m32       8
2                 m1        m45      38
3                 m1        m59       1
4                 m1        m64     146
...              ...        ...     ...
4158051       m18524     m15759       1
4158052       m18524     m15789       4
4158053       m18524     m15803       1
4158054       m18524     m15806       1
4158055       m18524     m18136       1

[4158056 rows x 3 columns]